/*///FEATURED///*/

#featured {
  position: relative;
  background: #fff;
  padding: 15px 0px 75px;
}

/*#featured h3 {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  line-height: 4em;
  background: #fff;
}*/

.featured-items {
  padding: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

#title a:link, #title a:visited {
  color: #000;
  text-decoration: none;
}

#title a:hover {
  color: #fff;
  text-decoration: none;
}

#title a:active {
  color: #c0c0c0;
  text-decoration: none;
}

div.item {
  width: 27.3333%;
  float: left;
  margin: 2%;
  display: flex;
  align-items: center;
  height: 37.5%;
}

.title h5 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

div.featured-1-a  {
  background:url('../images/studio-background-repeat-monstera.jpg') repeat;
  background-size: contain;
  /*padding-top: 28.45%;*/
}

div.featured-1-b {
  background:url('../images/studio-background-repeat-monstera-2.jpg') repeat;
  background-size: 80%;
  /*padding-top: 37.5%;*/
}

div.featured-2-a {
  background:url('../images/studio-background-repeat-monstera-2.jpg') repeat;
  background-size: 80%;
  /*padding-top: 37.5%;*/
  /*display: table-cell;
  vertical-align: middle;*/
}

div.featured-2-b  {
  background:url('../images/studio-background-repeat-monstera.jpg') repeat;
  background-size: 90%;
  /*padding-top: 28.45%;*/
}

div.featured-3-a  {
  background:url('../images/studio-background-repeat-monstera.jpg') repeat;
  background-size: 90%;
  /*padding-top: 28.45%;
  display: table-cell;
  vertical-align: middle;*/
}

div.featured-3-b {
  background:url('../images/studio-background-repeat-monstera-2.jpg') repeat;
  background-size: 80%;
  /*padding-top: 37.5%;*/
}