

apt-get instal send-mail








/*///to link background: have "a" tag outside of entire division///*/

<a href="http://google.com" target="_blank">
  <div class="frame">
    <div class="title">
      I hate groundhogs
    </div>
  </div>
</a>



/*///hover white box with title///*/
<div class="frame">
    <div class="title">
      I hate groundhogs
    </div>
</div>


CSS:
.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(http://fillmurray.com/200/200) no-repeat center;
  background-size: cover;
  width: 200px;
  height: 300px;
}

.title {
  display: flex;
  align-items: center;
  background: white;
  padding: 20px;
}


JS:
$('.title').hide();

$('.frame').hover(function(){    $(this).find('.title').show(600, 1);
}, function() {
$(this).find('.title').hide(400,0);
});



with transform-fade:
$('.title').hide();

$('.frame').hover(function(){    $(this).find('.title').fadeTo(600, 1);
}, function() {
$(this).find('.title').fadeTo(400,0);
});



/*///scrolling website///*/

<nav role='navigation'>
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#clients">Clients</a></li>
    <li><a href="#contact">Contact Us</a></li>
  </ul>
</nav> 
<section id="home">
  <h1>Home</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, ipsum recusandae. Fugit, velit, sint! Dolorem vitae asperiores nulla, hic atque quam voluptates quo libero eaque, sunt maxime necessitatibus rem, fugiat.</p>
</section>
<section id="about">
  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, ipsum recusandae. Fugit, velit, sint! Dolorem vitae asperiores nulla, hic atque quam voluptates quo libero eaque, sunt maxime necessitatibus rem, fugiat.</p>
</section>
<section id="clients">
  <h1>Clients</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, ipsum recusandae. Fugit, velit, sint! Dolorem vitae asperiores nulla, hic atque quam voluptates quo libero eaque, sunt maxime necessitatibus rem, fugiat.</p>
</section>
<section id="contact">
  <h1>Contact</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, ipsum recusandae. Fugit, velit, sint! Dolorem vitae asperiores nulla, hic atque quam voluptates quo libero eaque, sunt maxime necessitatibus rem, fugiat.</p>
</section>



var speed = 1000;

$('nav a').click(function (event) {  
  var target = $(this).attr('href');
  $('html, body').animate({
    scrollTop: $(target).offset().top
   }, speed);
  event.preventDefault();
});



/*///FEATURED///*/

#featured {
  position: relative;
  background: #fff;
  padding: 15px 0px 75px;
}

/*#featured h3 {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  line-height: 4em;
  background: #fff;
}*/

.featured-items {
  padding: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

#title a:link, #title a:visited {
  color: #000;
  text-decoration: none;
}

#title a:hover {
  color: #fff;
  text-decoration: none;
}

#title a:active {
  color: #c0c0c0;
  text-decoration: none;
}

div.item {
  width: 27.3333%;
  float: left;
  margin: 2%;
  display: flex;
  align-items: center;
  height: 37.5%;
}

.title h5 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

div.featured-1-a  {
  background:url('../images/studio-background-repeat-monstera.jpg') repeat;
  background-size: contain;
  /*padding-top: 28.45%;*/
}

div.featured-1-b {
  background:url('../images/studio-background-repeat-monstera-2.jpg') repeat;
  background-size: 80%;
  /*padding-top: 37.5%;*/
}

div.featured-2-a {
  background:url('../images/studio-background-repeat-monstera-2.jpg') repeat;
  background-size: 80%;
  /*padding-top: 37.5%;*/
  /*display: table-cell;
  vertical-align: middle;*/
}

div.featured-2-b  {
  background:url('../images/studio-background-repeat-monstera.jpg') repeat;
  background-size: 90%;
  /*padding-top: 28.45%;*/
}

div.featured-3-a  {
  background:url('../images/studio-background-repeat-monstera.jpg') repeat;
  background-size: 90%;
  /*padding-top: 28.45%;
  display: table-cell;
  vertical-align: middle;*/
}

div.featured-3-b {
  background:url('../images/studio-background-repeat-monstera-2.jpg') repeat;
  background-size: 80%;
  /*padding-top: 37.5%;*/
}