.menu-close {
  display: none;
}

.nav-2 {
  position: static;
}

/*//-->header//*/
/*@media only screen and (max-width: 700px){

  #background {
    background-size: 119%;
  }

  #background-overlay {
    background-size: 68%;
  }
}*/

/*//-->navbar menu mobile//*/
@media only screen and (max-width: 900px) {

  #social {
    display: none;
    text-align: center;
  }

  .navbar a.menu-icon {
    text-align: right;
    font-size: 1em;
    display: table-cell;
    vertical-align: middle;
    width: auto;
  }

  .nav-2 {
    display: none;
    background: #c0c0c0;
    clear: both;
    position: fixed;
    right: 0;
    min-height: 100%;
    top: 0px;
    width: 100%;
    padding: 45px 0px 10px;
    z-index: 4;
  }

  .navbar .nav-2 a.menu-close {
    text-align: right;
    margin-right: 20px;
  }

  .navbar .nav-2 a {
    display: block;
    margin-top: 20px;
    color: black;
    text-decoration: none;
    text-align: center;
    clear: both;
  }

  .nav-1 .logo-menu {
    float: none;
  }

  .nav-3 .menu-icon {
    float: right;
  }

  .foreground { 
    position: absolute; 
    top: 380px; 
  }

}


/*//-->main-logo//*/
@media only screen and (max-width: 900px) {
  .main-logo {
    width: 160px;
  }
}

@media only screen and (max-width: 468px) {
  .main-logo {
    width: 100px;
  }
}


/*//-->about//*/
@media only screen and (max-width: 650px) {
  #about {
    height: 200px;
    width: 100%;
    padding: 35px;
}
  #about h1 {
    font-size: 2em;
  }
  #about p {
    font-size: 0.9em;
  }
}

/*//-->featured items //*/
@media only screen and (max-width: 700px){
  .item {
    display: block;
    float: none;
    width: 90%;
    margin: 2%;
  }

  .title-box {
  background-color: #fff;
  left: 38%;
  top: 37%;
  position: absolute;
  width: 150px;
  height: 65px;
}
}

/*//-->collections//*/
@media only screen and (max-width: 1150px) {
  div.collection-1, div.collection-2 {
    width: 440px;
    height: 440px;
    float: none;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 950px) and (max-width:1040px) {
  div.collection-1, div.collection-2 {
    width: 400px;
    height: 400px;
    float: none;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 900px) and (max-width:950px) {
  div.collection-1, div.collection-2 {
    width: 380px;
    height: 380px;
    float: none;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 900px) {
  .col-1, .col-2 {
    width: 100%;
    float: none;
    margin: 0 auto;
  }
}

/*//-->footer//*/
@media only screen and (max-width: 900px) {
  .footer-top img {
    width: 75px;
    float: none;
    margin: 10px auto 22px;
  }

  #details {
    float: none;
    text-align: center;
  }

  #details li {
    display: block;
    line-height: 2.5em;
  }

  .border-bottom {
    padding-bottom: 20px;
  }

  #social-footer {
    float: none;
    text-align: center;
    margin-right: auto;
    margin-left: 0;
    padding-bottom: 15px;
  }

  p.copyright {
    width: 100%;
    text-align: center;
    margin: 25px auto 0;
  }

  p.design {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.6em;
  }

}

