.menu-close {
  display: none;
}

.nav-2 {
  position: static;
}

/*//-->header//*/
@media only screen and (max-width: 768px){
  #background {
    background-size: 854px;
  }
  #background-overlay {
    background-size: 461px;
  }
}

/*//-->navbar menu mobile//*/
@media only screen and (max-width: 900px) {

  #social {
    display: none;
    text-align: center;
  }

  .navbar a.menu-icon {
    text-align: right;
    display: table-cell;
    /*font-size: 1em;
    display: table-cell;
    vertical-align: middle;
    width: auto;*/
  }

  #menu-links {
    display: none;
    background: #c0c0c0;
    clear: both;
    position: fixed;
    right: 0;
    min-height: 100%;
    top: 0px;
    width: 100%;
    padding: 45px 0px 10px;
    z-index: 4;
  }

  .navbar a.menu-close {
    text-align: right;
    margin-right: 20px;
  }

  .navbar #menu-links a {
    display: block;
    margin-top: 20px;
    color: black;
    text-decoration: none;
    text-align: center;
    clear: both;
  }

  .logo-menu {
    float: none;
  }

  .menu-icon {
    float: right;
  }

  .foreground {  /*//fix!!!!!!!//*/
    position: absolute; 
    /*top: 380px; */
  }

  .foreground-feat { 
    position: absolute; 
    top: 0px; 
  }

  #social a {
    float: none;
    display: inline;
    margin-top: 0;
    color: black;
    text-decoration: none;
    text-align: center;
    clear: both;
  }

}

/*//-->collections//*/
@media only screen and (min-width: 1300px) {
  div.collection-1, div.collection-2 {
    width: 510px;
    height: 510px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1280px) {
  div.collection-1, div.collection-2 {
    width: 500px;
    height: 500px;
    margin: 0 auto;
  }

  div.collection-1 {
    float: right;
  }
}

@media only screen and (max-width: 1150px) {
  div.collection-1, div.collection-2 {
    width: 440px;
    height: 440px;
    float: none;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 970px) and (max-width:1040px) {
  div.collection-1, div.collection-2 {
    width: 400px;
    height: 400px;
    float: none;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 970px) {
  #collections h2 {
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .col-1, .col-2 {
    width: 90%; /*/fixes contact page form width below 970px into one column/*/
    float: none;
    margin: 0 auto;
  }

  .contact-2 {
    padding: 50px 0 50px; /*/fix not working!!!/*/
  }
}

@media only screen and (max-width: 480px) {
  div.collection-1, div.collection-2 {
    width: 350px;
    height: 350px;
    float: none;
    margin: 0 auto;
  }
}

/*//--> main-logo & footer//*/
@media only screen and (max-width: 900px) {
  
  .main-logo {
    width: 160px;
  }

  .footer-top img {
    width: 75px;
    float: none;
    margin: 10px auto 22px;
  }

  #logo img {
    margin: 16% auto;
  }

  #details {
    float: none;
    text-align: center;
  }

  #details li {
    display: block;
    line-height: 2.5em;
  }

  .border-bottom {
    padding-bottom: 20px;
  }

  #social-footer {
    float: none;
    text-align: center;
    margin-right: auto;
    margin-left: 0;
    padding-bottom: 15px;
  }

  p.copyright {
    width: 100%;
    text-align: center;
    margin: 25px auto 0;
  }

  p.design {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.6em;
  }

}

@media only screen and (max-width: 800px){
  #logo img {
    margin: 18% auto;
  }
}

/*//-->featured items //*/
@media only screen and (max-width: 768px){
  .item {
    width: 90%;
    min-height: 300px;
    margin: 5% 0 5% 4%;
  }

  .featured-items {
    height: auto;
  }

  #logo img {
    margin: 21% auto;
  }
}

/*//--> featured PAGE//*/
@media only screen and (min-width: 1150px) {
  div.featured-img {
    width: 510px;
    height: 510px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1150px) {
  div.featured-img {
    width: 440px;
    height: 440px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .more-featured {
    padding: 0px;
  }
}

@media only screen and (min-width: 970px) and (max-width:1040px) {
  div.featured-img {
    width: 400px;
    height: 400px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .more-featured {
    padding: 0px;
  }
}

@media only screen and (max-width: 970px) {
  .more-featured li {
    line-height: 2em;
    padding: 0px;
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  div.featured-img {
    width: 350px;
    height: 350px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
}


/*//-->about//*/
@media only screen and (min-width: 1366px){
  #about {
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media only screen and (max-width: 650px) {
  #about {
    width: 100%;
    padding: 35px;
  }
  #about h1 {
    font-size: 2em;
  }
  #about p {
    font-size: 0.9em;
  }

  #logo img {
    margin: 23% auto;
  }
}

@media only screen and (max-width: 610px) {
  .about-page p.about-caption {
    padding-right: 70px;
    padding-left: 70px;
  }

  .about-page p {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media only screen and (max-width: 500px) {
  #about p {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (max-width: 468px) {
  .main-logo {
    width: 100px;
  }

  #logo img {
    margin: 33% auto;
  }
}

/*//-->about PAGE//*/
@media only screen and (min-width: 1470px){
  .about-page {
    padding-left: 200px;
    padding-right: 200px;
  }
}

/*//-->tagline//*/
@media only screen and (max-width: 481px) {
  #tagline {
    height: 285px;
  }
}

/*//-->SERVICES PAGE//*/
@media only screen and (max-width: 800px){
  .services p {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media only screen and (max-width: 610px){
  .services-items img {
    width: 300px;
  }
}
